In [1]:
import numpy as np
import pandas as pd

# GroupBy

In [2]:
df = pd.DataFrame({
    'name': ['Apple',"Banana","Orange","Banana","orange","Apple"],
    'price': [4,3,4,2,5,6],
    'color':['red','yellow','orange','yellow','green','purple'],
    'weight': [11,12,13,14,15,16]
})

In [6]:
# groupby（by=‘’）
df.groupby('name')
# 返回的是一个 SeriesGroupBy对象

In [7]:
# 若要查看对象的内容 groups
df.groupby('name').groups

{'Apple': [0, 5], 'Banana': [1, 3], 'Orange': [2], 'orange': [4]}

In [8]:
df.groupby('name').indices

{'Apple': array([0, 5]),
 'Banana': array([1, 3]),
 'Orange': array([2]),
 'orange': array([4])}

# groupby的应用

In [13]:
# 按照分类取平均值
df.groupby(by='name').mean()

        price  weight
name
Apple     5.0    13.5
Banana    2.5    13.0
Orange    4.0    13.0
orange    5.0    15.0

In [15]:
# 取分类中的最大值
df.groupby(by='name')['price'].max()

name
Apple     6
Banana    3
Orange    4
orange    5
Name: price, dtype: int64

In [18]:
# 每一种 颜色 对应水果的平均重量
df.groupby(by='color')['weight'].mean()

color
green     15.0
orange    13.0
purple    16.0
red       11.0
yellow    13.0
Name: weight, dtype: float64

In [22]:
# 把每一种颜色对应的平均重量，写到df中
df['everage_weight'] = df['color'].map(df.groupby(by='color')['weight'].mean())

In [23]:
df

     name  price   color  weight  everage_weight
0   Apple      4     red      11            11.0
1  Banana      3  yellow      12            13.0
2  Orange      4  orange      13            13.0
3  Banana      2  yellow      14            13.0
4  orange      5   green      15            15.0
5   Apple      6  purple      16            16.0