In [1]:
import numpy as np
import pandas as pd

In [33]:
months = {'JAN' : 1, 'FEB' : 2, 'MAR' : 3, 'APR' : 4, 'MAY' : 5, 'JUN' : 6,
          'JUL' : 7, 'AUG' : 8, 'SEP' : 9, 'OCT': 10, 'NOV': 11, 'DEC' : 12}
of_interest = ['Obama, Barack', 'Romney, Mitt', 'Santorum, Rick', 
               'Paul, Ron', 'Gingrich, Newt']
parties = {
  'Bachmann, Michelle': 'Republican',
  'Romney, Mitt': 'Republican',
  'Obama, Barack': 'Democrat',
  "Roemer, Charles E. 'Buddy' III": 'Reform',
  'Pawlenty, Timothy': 'Republican',
  'Johnson, Gary Earl': 'Libertarian',
  'Paul, Ron': 'Republican',
  'Santorum, Rick': 'Republican',
  'Cain, Herman': 'Republican',
  'Gingrich, Newt': 'Republican',
  'McCotter, Thaddeus G': 'Republican',
  'Huntsman, Jon': 'Republican',
  'Perry, Rick': 'Republican'           
 }

## open file

In [6]:
df = pd.read_csv('./data/usa-selection.csv', low_memory=False)

In [7]:
df.shape

(536041, 16)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536041 entries, 0 to 536040
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   cmte_id            536041 non-null  object
 1   cand_id            536041 non-null  object
 2   cand_nm            536041 non-null  object
 3   contbr_nm          536041 non-null  object
 4   contbr_city        536026 non-null  object
 5   contbr_st          536040 non-null  object
 6   contbr_zip         535973 non-null  object
 7   contbr_employer    525088 non-null  object
 8   contbr_occupation  530520 non-null  object
 9   contb_receipt_amt  536041 non-null  float64
 10  contb_receipt_dt   536041 non-null  object
 11  receipt_desc       8479 non-null    object
 12  memo_cd            49718 non-null   object
 13  memo_text          52740 non-null   object
 14  form_tp            536041 non-null  object
 15  file_num           536041 non-null  int64
dtypes: float64(1), int64(1), object(14)
memory usage: 65.4+ MB

In [9]:
df.head(2)

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,250.0,20-JUN-11,NaN,NaN,NaN,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,50.0,23-JUN-11,NaN,NaN,NaN,SA17A,736166

# 对指定字段提取，其余舍弃

In [10]:
df1 = df[['cand_nm','contbr_nm','contbr_st','contbr_employer','contbr_occupation','contb_receipt_amt','contb_receipt_dt']]

In [12]:
# 数据总揽
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 536041 entries, 0 to 536040
Data columns (total 7 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   cand_nm            536041 non-null  object
 1   contbr_nm          536041 non-null  object
 2   contbr_st          536040 non-null  object
 3   contbr_employer    525088 non-null  object
 4   contbr_occupation  530520 non-null  object
 5   contb_receipt_amt  536041 non-null  float64
 6   contb_receipt_dt   536041 non-null  object
dtypes: float64(1), object(6)
memory usage: 28.6+ MB

In [14]:
# 描述数值型属性的概要
df1.describe()

       contb_receipt_amt
count       5.360410e+05
mean        3.750373e+02
std         3.564436e+03
min        -3.080000e+04
25%         5.000000e+01
50%         1.000000e+02
75%         2.500000e+02
max         1.944042e+06

In [21]:
# 将空值数据，填充为‘Not Provide’
df1.isnull().sum()

cand_nm              0
contbr_nm            0
contbr_st            0
contbr_employer      0
contbr_occupation    0
contb_receipt_amt    0
contb_receipt_dt     0
dtype: int64

In [20]:
df1.fillna(value='Not Provide',inplace=True)

/var/folders/rz/6rwl1std7dz1npfq_pm66bfr0000gn/T/ipykernel_57782/3466596728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.fillna(value='Not Provide',inplace=True)

In [31]:
# 将捐献金额 <=0 的数据删除
filt = df1['contb_receipt_amt'] <= 0
drop_index = df1.loc[filt].index
df1.drop(drop_index,axis=0,inplace=True)

/var/folders/rz/6rwl1std7dz1npfq_pm66bfr0000gn/T/ipykernel_57782/1902024860.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(drop_index,axis=0,inplace=True)

In [28]:
df1.shape

(530314, 7)

In [35]:
# 新建一列，各候选人党派
df1['party'] = df1['cand_nm'].map(parties)

/var/folders/rz/6rwl1std7dz1npfq_pm66bfr0000gn/T/ipykernel_57782/1637120258.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['party'] = df1['cand_nm'].map(parties)

In [36]:
df1.head(2)

,cand_nm,contbr_nm,contbr_st,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,party
0,"Bachmann, Michelle","HARVEY, WILLIAM",AL,RETIRED,RETIRED,250.0,20-JUN-11,Republican
1,"Bachmann, Michelle","HARVEY, WILLIAM",AL,RETIRED,RETIRED,50.0,23-JUN-11,Republican

In [37]:
# 查看party这一列中，有哪些不同元素
df1['party'].unique()

array(['Republican', 'Democrat', 'Reform', 'Libertarian'], dtype=object)

In [38]:
# 查看party这一列中，各元素出现次数
df1['party'].value_counts()

Democrat       289999
Republican     234300
Reform           5313
Libertarian       702
Name: party, dtype: int64

In [39]:
# 查看各个党派收到政治现金总和 contb_receipt_amt
df1.groupby(by='party')['contb_receipt_amt'].sum()

party
Democrat       8.259441e+07
Libertarian    4.132769e+05
Reform         3.429658e+05
Republican     1.251181e+08
Name: contb_receipt_amt, dtype: float64

In [41]:
# 查看具体每天各个党派收到的政治现金总和 contb_receipt_amt
df1.pivot_table(index=['contb_receipt_dt','party'],values=['contb_receipt_amt'],aggfunc=sum)

                              contb_receipt_amt
contb_receipt_dt party
01-APR-11        Reform                   50.00
                 Republican            12635.00
01-AUG-11        Democrat             182198.00
                 Libertarian            1000.00
                 Reform                 1847.00
...                                         ...
31-MAY-11        Republican           313839.80
31-OCT-11        Democrat             216971.87
                 Libertarian            4250.00
                 Reform                 3205.00
                 Republican           751542.36

[1183 rows x 1 columns]

In [42]:
df1.groupby(by=['contb_receipt_dt','party'])['contb_receipt_amt'].sum()

contb_receipt_dt  party
01-APR-11         Reform             50.00
                  Republican      12635.00
01-AUG-11         Democrat       182198.00
                  Libertarian      1000.00
                  Reform           1847.00
                                   ...
31-MAY-11         Republican     313839.80
31-OCT-11         Democrat       216971.87
                  Libertarian      4250.00
                  Reform           3205.00
                  Republican     751542.36
Name: contb_receipt_amt, Length: 1183, dtype: float64

In [47]:
# 将表中日期格式转换为 “yyyy-mm-dd”
df1['contb_receipt_dt'] = pd.to_datetime(df1['contb_receipt_dt']).dt.strftime('%Y-%m-%d')

/var/folders/rz/6rwl1std7dz1npfq_pm66bfr0000gn/T/ipykernel_57782/673231325.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['contb_receipt_dt'] = pd.to_datetime(df1['contb_receipt_dt']).dt.strftime('%Y-%m-%d')

In [48]:
df1.head(2)

,cand_nm,contbr_nm,contbr_st,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,party
0,"Bachmann, Michelle","HARVEY, WILLIAM",AL,RETIRED,RETIRED,250.0,2011-06-20,Republican
1,"Bachmann, Michelle","HARVEY, WILLIAM",AL,RETIRED,RETIRED,50.0,2011-06-23,Republican

In [49]:
# 查看 捐献者职业中 DISABLED VETERAN 主要支持谁 (捐赠钱数最多)
filt = df1['contbr_occupation'] == 'DISABLED VETERAN'

In [62]:
df1[filt].groupby(by='cand_nm')['contb_receipt_amt'].sum().sort_values(ascending=False)

cand_nm
Obama, Barack     4205.00
Paul, Ron         2425.49
Cain, Herman       300.00
Santorum, Rick     250.00
Name: contb_receipt_amt, dtype: float64

In [53]:
pd.set_option('expand_frame_repr', False)  # 当列太多时不换行
pd.set_option('display.max_rows', 5000)  # 最多显示数据的行数