In [1]:
#Q1 Create myTuple tuple with the follwoing values ("NPower","JDA","Tuesday",30,31,2021)

myTuple = ("NPower","JDA","Tuesday",30,31,2021)
myTuple

('NPower', 'JDA', 'Tuesday', 30, 31, 2021)

In [2]:
#Q2 What is the type of myTuple
type(myTuple)

tuple

In [3]:
#Q3 What is the length of myTuple
len(myTuple)

6

In [4]:
#Q4 print the values in each index #Use regular indexing
print(myTuple[0:6])

('NPower', 'JDA', 'Tuesday', 30, 31, 2021)

In [5]:
#Q5 print the values in each index #Use negative indexing 
print(myTuple[-7::])

('NPower', 'JDA', 'Tuesday', 30, 31, 2021)

In [6]:
#Q6 what is the type of each value
list(map(type,myTuple))

[str, str, str, int, int, int]

In [7]:
#Q7 unpack myTuple in the follwoeing variables name,program,dayName,month,day,year
# print the variables 
(name,program,dayName,month,day,year)=myTuple
print(name,program,dayName,month,day,year)

NPower JDA Tuesday 30 31 2021

In [8]:
#Q8 unpack myTuple2 in the follwoeing variables name,program,dayName.
# What will happen to variables (name,program,dayName) and (month,day,year)

In [9]:
# Note the following
Tuple1=("Jerry",2,89) #This is a tuple with 3 elements
Tuple2=("Ulan",)#This is a tuple with 1 element
test="Leul" #This is a VARIABLE with string value
a,b,c=Tuple1
print("Type a",type(a))
print(a,b,c)
d=Tuple2
print(type(d))
print(d)
e=test
print(e)
d = ("Ulan")
type(d)

Type a <class 'str'>
Jerry 2 89
<class 'tuple'>
('Ulan',)
Leul

str

In [10]:
#Tuples are immutable
#we can always make the testTuple variable reference a new tuple in the memory
#and hold a different information
testTuple=(1,2,3)
print(testTuple)
testTuple=(4,5,6)
print(testTuple)
#But we can't change or edit a value for the existing tuple
testTuple[0]=6 #ERROR 'tuple' object does not support item assignment

(1, 2, 3)
(4, 5, 6)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Q9 Reverse myTuple, output should looks like (2021,3,30,"Tuesday","JDA","NPower")
myTuple[::-1]

In [ ]:
#Q10 Create nestedTuple=(("Coursera","course",6),("week",(2,"Lists","Tuple")))
A=("Coursera","course",6)
B=("week")
C=(2,"Lists","Tuple")

nestedTuple = (A, (B, C))
nestedTuple

In [ ]:
#Q11 What is the output of nestedTuple[1:2]
nestedTuple[1:2]

In [ ]:
#Q12 print each element in the nestedTuple
print(nestedTuple[0])
print(nestedTuple[1])

In [ ]:
#Q13 Access (2,"Lists","Tuple") from nestedTuple
nestedTuple[1][1]

In [ ]:
#Q14 Access the value "Lists" from nestedTuple
nestedTuple[1][1][1]

In [ ]:
#Q15 Access the value "Tuple" from nestedTuple
nestedTuple[1][1][2]

In [ ]:
#Q16 Access the value "course" from nestedTuple
nestedTuple[0][1]

In [ ]:
#Q17 Concatenate myTuple with nestedTuple
myTuple=myTuple+nestedTuple
myTuple

In [ ]:
#Q18 add your name to the tuple
name=('Kowcika',)
newTuple = myTuple + name
newTuple

In [ ]:
#Q19 check whether Coursera exists within myTuple
# NOTE "in" doesn't work properly with nested tuples
def is_item_in_nested_tuple(item, nested_tuple):
    for element in nested_tuple:
        if isinstance(element, tuple):
            if is_item_in_nested_tuple(item, element):
                return True
        else:
            if element == item:
                return True
    return False

is_item_in_nested_tuple("Coursera",myTuple)

In [ ]:
#Q20 check whether 55 exists within testTuple
testTuple=(1,2,33,55,6,55)
number=55
number in testTuple

In [ ]:
#Q21 Find the index of JDA in newTuple
# Find the index of 'Coursera' in newTuple
# NOTE index doesn't work properly with nested tuples # Wrong output
newTuple.index('JDA')
newTuple.index('Coursera')

In [ ]:
#Q22 print index 8 from newTuple
newTuple[8]

In [ ]:
#Q23 Get the 4th element from the begining of myTuple and 4th element from last 
print(newTuple[3])
print(newTuple[-4])

In [ ]:
#Q24 Find how many times 55 appeared in testTuple [Hint: Use method count()]
testTuple.count(55)