In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("GoodBelly-DataSet.xlsx","Real Data")

In [3]:
# Find how many records this data frame has
len(df)

1386

In [4]:
# How many elements are there? 
df.shape[0] * df.shape[1]

16632

In [5]:
df.size

16632

In [6]:
# What are the column names?
df.columns

Index(['Date', 'Region', 'Store', 'Units Sold', 'Average Retail Price',
       'Sales Rep', 'Endcap', 'Demo', 'Demo1-3', 'Demo4-5', 'Natural',
       'Fitness'],
      dtype='object')

In [7]:
# What types of columns do we have in this data frame?
df.dtypes

Date                    datetime64[ns]
Region                          object
Store                           object
Units Sold                     float64
Average Retail Price           float64
Sales Rep                        int64
Endcap                           int64
Demo                             int64
Demo1-3                          int64
Demo4-5                          int64
Natural                          int64
Fitness                          int64
dtype: object

In [8]:
df.head()

,Date,Region,Store,Units Sold,Average Retail Price,Sales Rep,Endcap,Demo,Demo1-3,Demo4-5,Natural,Fitness
0,2010-05-04,FL,Biscayne (aka Aventura),150.702088,4.390000,0,0,0,0,0,1,0
1,2010-05-11,FL,Biscayne (aka Aventura),197.403797,3.997692,0,0,0,0,0,1,0
2,2010-05-18,FL,Biscayne (aka Aventura),235.106172,3.809231,0,0,0,0,0,1,0
3,2010-05-25,FL,Biscayne (aka Aventura),226.692427,3.835000,0,0,0,0,0,1,0
4,2010-06-01,FL,Biscayne (aka Aventura),257.688151,3.902500,0,0,0,0,0,1,0

In [9]:
# Give the summary for the numeric columns in the dataset
df.count()

Date                    1386
Region                  1243
Store                   1386
Units Sold              1386
Average Retail Price    1386
Sales Rep               1386
Endcap                  1386
Demo                    1386
Demo1-3                 1386
Demo4-5                 1386
Natural                 1386
Fitness                 1386
dtype: int64

In [10]:
# Calculate standard deviation for all numeric columns;

# df[["Units Sold","Average Retail Price","Sales Rep","Endcap","Demo","Demo1-3","Demo4-5","Natural","Fitness"]].std()
df.std(numeric_only=True)

Units Sold              110.998731
Average Retail Price      0.463828
Sales Rep                 0.497695
Endcap                    0.191843
Demo                      0.234661
Demo1-3                   0.363522
Demo4-5                   0.264705
Natural                   0.975092
Fitness                   1.592789
dtype: float64

In [11]:
# What are the mean values of the first 50 records in the dataset?   
# Hint: use head() method to subset the first 50 records and then calculate the mean
df[0:50].std(numeric_only=True)
df.head(50).std(numeric_only=True)

Units Sold              50.359675
Average Retail Price     0.265949
Sales Rep                0.000000
Endcap                   0.303046
Demo                     0.000000
Demo1-3                  0.000000
Demo4-5                  0.197949
Natural                  1.015191
Fitness                  1.430855
dtype: float64

In [24]:
# ACTIVITY 1
d = {'Mouse':[150,200,300,400],'Keyboard':[180,200,190,300],'Scanner':[200,280,330,450]}
# df=pd.DataFrame(d.index=['Jan','Feb','March','April'])

In [26]:
df = pd.DataFrame(d)

In [30]:
df.index=['Jan','Feb','March','April']
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [32]:
# Write code to access data of Mouse and Scanner columns.
df[["Keyboard","Scanner"]]

       Keyboard  Scanner
Jan         180      200
Feb         200      280
March       190      330
April       300      450

In [42]:
# Write code to access data of the Keyboard column using dot notation and column name.
df.Keyboard

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

In [43]:
# Write code to access data of scanners using loc[].
df.loc[:,"Scanner"]

Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64

In [44]:
# Write code to access data of all columns where mouse data is more than 200.
df[df['Mouse']>200]

       Mouse  Keyboard  Scanner
March    300       190      330
April    400       300      450

In [50]:
# Write code to access columns using 0 and 2.
# df[[0, 2]]
df.columns.values

array(['Mouse', 'Keyboard', 'Scanner'], dtype=object)

In [52]:
# Write code to access data of rows of jan and march for scanner and keyboard
df[["Keyboard","Scanner"]].loc[["Jan","March"]]

       Keyboard  Scanner
Jan         180      200
March       190      330